asgiref==3.8.1
beautifulsoup4==4.12.3
boto3==1.35.24
botocore==1.35.24
certifi==2024.8.30
charset-normalizer==3.3.2
chartjs==1.2
distlib==0.3.8
Django==5.1.1
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
django-forms-bootstrap==3.1.0
djangorestframework==3.15.2
filelock==3.16.1
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
packaging==24.1
pipenv==2024.0.2
platformdirs==4.3.6
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.10.2
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
urllib3==2.2.3
virtualenv==20.26.5
